Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

Update version.json with latest and old versions for last epoch
  version.json
Due: none

Rename PathOfBuildingForLastEpoch to LastEpochPlanner
  .github/workflows/sync-upstream.yml
  packages/driver/src/js/worker.ts
  packages/packer/src/pack.ts
Due: driver-tsc

chore: pob.cool maintenance
  .env.pob-cool.yaml
  .gitignore
  .mise.pob-cool.toml
  .mise.toml
Due: none

refactor: simplify multiple game handling
  .github/workflows/build.yml
  .github/workflows/sync-upstream.yml
  .gitignore
  .mise.pob-cool.toml
  .mise.toml
  README.md
  package-lock.json
  package.json
  packages/driver/src/js/driver.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/src/js/worker.ts
  packages/driver/vite.config.ts
  packages/game/package.json
  packages/game/src/index.ts
  packages/game/tsconfig.json
  packages/packer/package.json
  packages/packer/src/pack.ts
  packages/packer/src/sync.ts
  packages/web/package.json
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/routes/_game.tsx
  packages/web/src/routes/_index.tsx
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

Update packages/packer/src/pack.ts
  packages/packer/src/pack.ts
Due: none

Update packages/web/src/routes/_index.tsx
  packages/web/src/routes/_index.tsx
Due: web-tsc

ci: fix
  .github/workflows/sync-upstream.yml
Due: none

ci: fix
  .github/workflows/build.yml
  .github/workflows/sync-upstream.yml
Due: none

ci: fix
  .github/workflows/sync-upstream.yml
  .mise.pob-cool.toml
Due: none

build: add --pob-cool-asset to web:dev
  .mise.toml
Due: none

bulid: use hk for git-hooks
  .mise.toml
  hk.pkl
  lefthook.yml
Due: none

style: hk fix
  .devcontainer/devcontainer.json
  biome.json
  hk.pkl
  packages/driver/package.json
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/driver/vite.config.ts
  packages/game/package.json
  packages/packer/src/pack.ts
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/entry.client.tsx
  packages/web/src/entry.server.tsx
  packages/web/src/routes/_game.tsx
  packages/web/src/routes/_index.tsx
  packages/web/vite.config.ts
  version.json
Due: driver-tsc, web-tsc

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

feat: add WebGPU rendering backend
  packages/driver/src/js/driver.ts
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/index.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu-types.d.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

chore(driver): add @webgpu/types dependency
  package-lock.json
  package.json
  packages/driver/src/js/renderer/webgpu-types.d.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/tsconfig.json
Due: driver-tsc

fix(driver): enable WebGPU by default in attachToDOM and setCanvas
  packages/driver/src/js/driver.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

build(driver): restrict source files to 'packages/driver/src/c' in .mise.toml
  .mise.toml
Due: none

fix(driver): fix WebGPU texture rendering issues
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

fix(driver): fix WebGPU texture binding order
  .github/.release-please-manifest.json
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

fix(driver): fix WebGPU image texture upload
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

fix(driver): fix WebGPU shader uniform control flow error
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

fix(driver): fix WebGPU layer compositing by managing frame-level clearing
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

chore(driver): disable webgpu
  packages/driver/src/js/driver.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

perf(driver): optimize VertexBuffer allocation in WebGL/WebGPU backends
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

chore(driver): update outputs configuration in .mise.toml
  .mise.toml
Due: none

perf(driver): enhance data structure alignment and command handling in draw module
  .mise.toml
  packages/driver/CMakeLists.txt
  packages/driver/src/c/draw.c
  packages/driver/src/js/draw.ts
Due: driver-tsc

perf(driver): improve build configurations for Debug and Release modes
  packages/driver/CMakeLists.txt
Due: none

Revert "perf(driver): enhance data structure alignment and command handling in draw module"
  packages/driver/src/c/draw.c
  packages/driver/src/js/draw.ts
Due: driver-tsc

chore(web): add @webgpu/types to types array
  packages/web/tsconfig.json
Due: none

perf(driver): implement index buffer for WebGL backend
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

perf(driver): compress vertex color data to reduce memory usage
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

feat: Add layer visibility toggle functionality
  packages/driver/src/js/driver.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/worker.ts
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
Due: driver-tsc, web-tsc

perf(driver): merge consecutive commands into ranges for efficient processing
  packages/driver/src/js/draw.ts
  packages/driver/src/js/renderer/renderer.ts
Due: driver-tsc

feat: Add comprehensive render statistics tracking and display
  CLAUDE.md
  packages/driver/src/js/renderer/index.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/worker.ts
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
Due: driver-tsc, web-tsc

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
