Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

fix(driver): normalize clipboard interactions
  README.md
  mise.toml
  packages/driver/playwright.config.mts
  packages/driver/src/c/driver.c
  packages/driver/src/js/clipboard.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/event.ts
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/overlay/types.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/e2e/clipboard.spec.mts
  packages/driver/test/unit/clipboard.test.ts
  packages/driver/test/unit/keyboard.test.ts
Due: driver-tsc

fix(driver): restore URL build imports
  packages/driver/CMakeLists.txt
  packages/driver/src/js/worker.ts
  packages/web/test/e2e/build-import.spec.mts
  tools/e2e-releases.mts
  tools/pack-e2e-assets.ts
Due: driver-tsc

test(driver): synchronize PoB E2E input
  packages/driver/test/e2e/clipboard.spec.mts
  packages/driver/test/e2e/driver.spec.mts
  packages/driver/test/e2e/pob.mts
Due: none

test(e2e): reduce browser suite runtime
  packages/driver/playwright.config.mts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/e2e/pob.mts
  packages/web/playwright.config.mts
Due: driver-tsc

fix(driver): prevent input capture navigation
  packages/driver/src/js/keyboard.ts
  packages/driver/test/e2e/clipboard.spec.mts
  packages/driver/test/e2e/driver.spec.mts
Due: driver-tsc

chore: add Auth0 CLI tooling
  mise.lock
  mise.toml
Due: none

fix(web): classify known upstream PoB errors
  packages/driver/src/js/error.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/error.test.ts
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/lib/error-report.ts
  packages/web/test/unit/error-report.test.ts
Due: driver-tsc, web-tsc

feat: support Path of Exile OAuth imports
  auth0/actions/poe-token-bridge.js
  packages/driver/boot.lua
  packages/driver/src/js/broker.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/poe-oauth.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/poe-oauth.test.ts
  packages/web/deno.json
  packages/web/public/_headers
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/entry.server.tsx
  packages/web/src/lib/poe-oauth.ts
  packages/web/src/root.tsx
  packages/web/src/routes/auth.poe-popup.tsx
  packages/web/test/e2e/build-import.spec.mts
  packages/web/test/e2e/fixtures/sentry-wasm.ts
  packages/web/test/e2e/poe-oauth.spec.mts
  packages/web/test/unit/poe-oauth.test.ts
  packages/web/test/unit/poe-token-bridge.test.ts
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

fix(driver): handle current PoB OAuth and async flows
  packages/driver/boot.lua
  packages/driver/src/c/driver.c
  packages/driver/src/js/broker.ts
  packages/driver/src/js/poe-oauth.ts
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/poe-oauth.test.ts
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/poe-oauth.ts
Due: driver-tsc, web-tsc

fix(web): require copied diagnostics before reporting
  packages/web/src/components/ErrorDialog.tsx
  packages/web/test/e2e/error-dialog.spec.mts
Due: web-tsc

docs: clarify LuaJIT compatibility policy
  AGENTS.md
Due: none

test(oauth): cover PoB authorization flows
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/test/e2e/poe-oauth.spec.mts
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/poe-oauth.ts
  packages/web/test/e2e/poe-oauth.spec.mts
  packages/web/test/unit/poe-oauth.test.ts
Due: driver-tsc, web-tsc

fix(web): confirm before authentication logout
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/lib/auth.ts
  packages/web/test/e2e/poe-oauth.spec.mts
Due: web-tsc

fix(web): unify cloud storage authentication
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/lib/poe-oauth.ts
  packages/web/src/root.tsx
  packages/web/test/unit/poe-oauth.test.ts
Due: web-tsc

fix(web): synchronize PoB authentication lifecycle
  packages/driver/boot.lua
  packages/driver/src/c/driver.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/e2e/poe-oauth.spec.mts
  packages/web/src/components/PoBWindow.tsx
  packages/web/test/e2e/fixtures/sentry-wasm.ts
Due: driver-tsc, web-tsc

perf(driver): instance quad rendering
  packages/driver/src/js/overlay/PerformanceOverlay.tsx
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/instance_buffer.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/test/performance/driver.spec.mts
  packages/driver/test/unit/instance-buffer.test.ts
  packages/driver/test/unit/text.test.ts
Due: driver-tsc

perf(driver): render text from a GPU glyph atlas
  packages/driver/src/js/overlay/PerformanceOverlay.tsx
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/e2e/driver.spec.mts
  packages/driver/test/e2e/webgpu.spec.mts
  packages/driver/test/performance/driver.spec.mts
  packages/driver/test/unit/text.test.ts
Due: driver-tsc

perf(driver): compile draw commands directly
  packages/driver/src/js/draw.ts
  packages/driver/src/js/image.ts
  packages/driver/src/js/overlay/PerformanceOverlay.tsx
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/instance_buffer.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/test/unit/draw.test.ts
  packages/driver/test/unit/instance-buffer.test.ts
  packages/driver/test/unit/text.test.ts
Due: driver-tsc

fix(driver): restore text vertical alignment
  packages/driver/src/js/renderer/text.ts
  packages/driver/test/unit/text.test.ts
Due: driver-tsc

feat(driver): allow WebGPU selection by URL
  packages/driver/src/js/run.ts
Due: driver-tsc

feat(web): persist renderer preferences
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/lib/settings.ts
  packages/web/test/unit/settings.test.ts
Due: web-tsc

feat(driver): show backend in performance overlay
  packages/driver/src/js/overlay/PerformanceOverlay.tsx
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
Due: driver-tsc

chore(codex): approve Playwright mouse button tools
  .codex/config.toml
Due: none

refactor(driver): remove WebGPU backend
  deno.json
  deno.lock
  docs/adr/0002-render-backend-boundary.md
  packages/driver/deno.json
  packages/driver/src/js/driver.ts
  packages/driver/src/js/renderer/backend.ts
  packages/driver/src/js/renderer/index.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/e2e/webgpu.spec.mts
  packages/web/deno.json
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/lib/error-report.ts
  packages/web/src/lib/settings.ts
  packages/web/test/unit/error-report.test.ts
  packages/web/test/unit/settings.test.ts
Due: driver-tsc, web-tsc

fix(driver): serialize virtual clipboard actions
  packages/driver/src/js/driver.ts
  packages/driver/test/e2e/clipboard.spec.mts
Due: driver-tsc

fix(driver): return UTF-8 cursor offsets
  packages/driver/src/js/renderer/text.ts
  packages/driver/test/unit/text.test.ts
Due: driver-tsc

fix(upstream-sync): retry compatibility E2E
  tools/upstream-sync/sync.ts
  tools/upstream-sync/sync_test.ts
Due: none

feat(driver): decode BC7 textures without BPTC
  deno.json
  deno.lock
  mise.toml
  packages/driver/deno.json
  packages/driver/src/js/bc7.ts
  packages/driver/src/js/image.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/e2e/bc7-fallback.spec.mts
  packages/driver/test/unit/bc7.test.ts
  packages/driver/vite.config.ts
  packages/web/vite.config.ts
  tools/tasks/main.ts
Due: driver-tsc, web-tsc

refactor(dev): unify visual investigation workflow
  .agents/skills/canvas-visual-verification/SKILL.md
  .agents/skills/investigate-canvas-ui/SKILL.md
  .agents/skills/sync-simplegraphic/SKILL.md
  AGENTS.md
  README.md
  mise.toml
  packages/web/deno.json
  packages/web/vite.config.ts
  tools/tasks/main.ts
Due: web-tsc

fix(driver): synchronize SimpleGraphic through 3b1a346
  .agents/skills/sync-simplegraphic/references/upstream-state.json
  packages/driver/CMakeLists.txt
  packages/driver/src/c/draw.c
  packages/driver/src/c/draw_color.c
  packages/driver/src/c/draw_color.h
  packages/driver/test/c/bridge_test.c
Due: none

feat(agent): add explicit SimpleGraphic sync skill
  .agents/skills/sync-simplegraphic/SKILL.md
  .agents/skills/sync-simplegraphic/agents/openai.yaml
  .agents/skills/sync-simplegraphic/references/upstream-state.json
Due: none

feat(driver): support HiDPI rendering
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/CMakeLists.txt
  packages/driver/boot.lua
  packages/driver/src/c/dpi.c
  packages/driver/src/c/dpi.h
  packages/driver/src/c/draw.c
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/draw.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/c/bridge_test.c
  packages/driver/test/e2e/driver.spec.mts
  packages/driver/test/unit/canvas-manager.test.ts
  packages/driver/test/unit/draw.test.ts
Due: driver-tsc

fix(driver): align cursor with DPI override
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/src/c/dpi.c
  packages/driver/src/c/dpi.h
  packages/driver/src/c/driver.c
  packages/driver/test/c/bridge_test.c
Due: none

docs(agent): record SimpleGraphic compatibility decisions
  .agents/skills/sync-simplegraphic/SKILL.md
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  AGENTS.md
Due: none

fix(driver): cap HiDPI canvas backing size
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
  packages/driver/test/e2e/driver.spec.mts
  packages/driver/test/unit/canvas-manager.test.ts
Due: driver-tsc

fix(driver): normalize pointer state updates
  packages/driver/src/js/driver.ts
  packages/driver/src/js/mouse-handler.ts
  packages/driver/test/e2e/driver.spec.mts
Due: driver-tsc

feat(dev): add rendering dimension override
  packages/driver/src/js/canvas-manager.ts
  packages/driver/vite.config.ts
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

fix(driver): bound WebGL instance batches
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

feat(dev): add remote runtime diagnostics
  README.md
  mise.lock
  mise.toml
  packages/driver/src/js/diagnostic.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/worker.ts
  packages/web/diagnostics-dev.ts
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/error-report.ts
  packages/web/src/lib/runtime-diagnostics-disabled.ts
  packages/web/src/lib/runtime-diagnostics.ts
  packages/web/src/vite-env.d.ts
  packages/web/test/unit/diagnostics-dev.test.ts
  packages/web/vite.config.ts
  tools/tasks/main.ts
Due: driver-tsc, web-tsc

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
