Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

refactor(driver): replace Asyncify with Atomics RPC
  packages/driver/CMakeLists.txt
  packages/driver/src/c/driver.c
  packages/driver/src/c/lcurl.c
  packages/driver/src/c/sub.c
  packages/driver/src/c/wasmfs/nodefs_js.cpp
  packages/driver/src/js/broker.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/rpc.ts
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/rpc.test.ts
  packages/driver/vite.config.ts
  packages/web/public/_headers
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

build: pin shellcheck in mise toolchain
  mise.lock
  mise.toml
Due: none

fix(web): isolate development document responses
  packages/web/src/entry.server.tsx
  packages/web/test/e2e/start-game.spec.ts
Due: web-tsc

docs(agents): prevent parallel dependency races
  AGENTS.md
Due: none

docs: record async runtime decision
  README.md
  docs/adr/0001-async-runtime-and-sjlj.md
  docs/async-runtime-migration.md
  docs/asyncify-firefox-investigation.md
Due: none

fix(driver): prevent bridge memory corruption
  mise.toml
  packages/driver/CMakeLists.txt
  packages/driver/package.json
  packages/driver/src/c/byte_buffer.c
  packages/driver/src/c/byte_buffer.h
  packages/driver/src/c/draw.c
  packages/driver/src/c/lcurl.c
  packages/driver/src/c/sub.c
  packages/driver/src/c/sub_serialization.c
  packages/driver/src/c/sub_serialization.h
  packages/driver/test/c/bridge_test.c
Due: none

build(deps): modernize repository tooling
  biome.json
  package-lock.json
  package.json
  packages/driver/package.json
  packages/driver/src/js/broker.ts
  packages/driver/src/js/fs.ts
  packages/driver/src/js/image.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/driver/src/js/overlay/index.ts
  packages/driver/src/js/renderer/index.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/src/js/worker.ts
  packages/packer/package.json
  packages/packer/src/pack.ts
  packages/web/package.json
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/root.tsx
Due: driver-tsc, web-tsc

ci: update GitHub Actions
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/sync-upstream.yml
Due: none

chore(codex): approve browser close tool
  .codex/config.toml
Due: none

feat(sync): test upstream compatibility
  .github/workflows/sync-upstream.yml
  .mise.pob-cool.toml
  README.md
  biome.json
  deno.json
  deno.lock
  mise.lock
  mise.toml
  packages/driver/test/e2e/driver.spec.ts
  packages/driver/test/e2e/releases.ts
  packages/driver/tsconfig.json
  packages/web/src/routes/_game.tsx
  packages/web/src/routes/_index.tsx
  packages/web/test/e2e/start-game.spec.ts
  tools/upstream-sync/github.ts
  tools/upstream-sync/github_test.ts
  tools/upstream-sync/main.ts
  tools/upstream-sync/model.ts
  tools/upstream-sync/model_test.ts
  tools/upstream-sync/sync.ts
  tools/upstream-sync/sync_test.ts
Due: driver-tsc, web-tsc

fix(sync): use POSIX task arguments
  mise.toml
Due: none

fix(sync): use available app token action
  .github/workflows/sync-upstream.yml
Due: none

build: add standard check and fix arguments
  hk.pkl
  mise.toml
Due: none

build: upgrade hk to 1.54.1
  hk.pkl
  mise.lock
  mise.toml
Due: none

chore(codex): approve browser interaction tools
  .codex/config.toml
Due: none

docs(agents): document submodule workflow
  AGENTS.md
Due: none

fix(driver): upload WebAssembly source maps
  .github/workflows/build.yml
  mise.lock
  mise.toml
  packages/driver/CMakeLists.txt
  packages/driver/package.json
  packages/web/package.json
  packages/web/src/root.tsx
  packages/web/src/vite-env.d.ts
  packages/web/vite.config.ts
  tools/sentry-upload/main.ts
  tools/sentry-upload/main_test.ts
Due: web-tsc

chore(codex): add Sentry MCP
  .codex/config.toml
Due: none

feat(sentry): add intentional issue test path
  packages/driver/playwright.performance.config.ts
  packages/driver/src/c/driver.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/worker.ts
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/test/e2e/start-game.spec.ts
Due: driver-tsc, web-tsc

fix(ci): avoid undeclared ripgrep dependency
  mise.toml
Due: none

fix(ci): use available app token action
  .github/workflows/build.yml
Due: none

fix(sentry): symbolize WebAssembly crashes
  deno.lock
  mise.toml
  package-lock.json
  packages/driver/CMakeLists.txt
  packages/driver/package.json
  packages/driver/src/c/driver.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/sentry-wasm.ts
  packages/driver/src/js/worker.ts
  packages/web/package.json
  packages/web/playwright.config.ts
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/sentry.ts
  packages/web/src/root.tsx
  packages/web/test/e2e/start-game.spec.ts
  packages/web/vite.config.ts
  tools/sentry-upload/main.ts
  tools/sentry-upload/main_test.ts
Due: driver-tsc, web-tsc

fix(web): restore overlay toolbar layout
  packages/driver/src/js/overlay/overlay.css
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/test/e2e/start-game.spec.ts
Due: web-tsc

fix(driver): restore cross-browser performance benchmark
  packages/driver/playwright.performance.config.ts
Due: driver-tsc

fix(web): allow clean production builds
  packages/web/vite.config.ts
Due: web-tsc

docs: plan Rust Lua VM experiment
  docs/rust-lua-vm-experiment-plan.md
Due: none

test: verify Wasm symbolication through Sentry
  README.md
  mise.toml
  packages/web/playwright.config.ts
  packages/web/test/e2e/fixtures/sentry-wasm.ts
  packages/web/test/e2e/sentry-wasm.spec.ts
  packages/web/vite.config.ts
Due: web-tsc

chore: require approval for Playwright clicks
  .codex/config.toml
Due: none

fix: symbolize Firefox WebAssembly errors
  packages/web/playwright.config.ts
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/lib/sentry.ts
  packages/web/test/e2e/fixtures/sentry-wasm.html
  packages/web/test/e2e/fixtures/sentry-wasm.ts
  packages/web/test/e2e/sentry-wasm.spec.ts
  packages/web/test/e2e/start-game.spec.ts
Due: web-tsc

chore: ignore local mise configuration
  .gitignore
Due: none

test: allocate ports dynamically for browser servers
  .agents/skills/canvas-visual-verification/SKILL.md
  README.md
  deno.lock
  mise.toml
  package-lock.json
  package.json
  packages/driver/package.json
  packages/driver/playwright.config.ts
  packages/driver/test/e2e/driver.spec.ts
  packages/driver/test/performance/driver.spec.ts
  packages/web/package.json
  packages/web/playwright.config.ts
  packages/web/test/e2e/error-dialog.spec.ts
  packages/web/test/e2e/sentry-wasm.spec.ts
  packages/web/test/e2e/start-game.spec.ts
  packages/web/vite.config.ts
  packages/web/wrangler-dev.ts
  tools/playwright.ts
Due: driver-tsc, web-tsc

chore: approve Playwright mouse movement
  .codex/config.toml
Due: none

fix: classify and report Path of Building errors
  mise.toml
  packages/driver/src/js/broker.ts
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/error.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/rpc.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/canvas-manager.test.ts
  packages/driver/test/unit/error.test.ts
  packages/driver/test/unit/rpc.test.ts
  packages/driver/test/unit/text.test.ts
  packages/web/package.json
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/error-report.ts
  packages/web/test/e2e/error-dialog.spec.ts
  packages/web/test/unit/error-report.test.ts
Due: driver-tsc, web-tsc

fix: stack version cards vertically
  packages/web/src/routes/_index.tsx
  packages/web/test/e2e/start-game.spec.ts
Due: web-tsc

test: use local head assets in browser E2E
  AGENTS.md
  README.md
  mise.toml
  packages/driver/test/e2e/driver.spec.ts
  packages/driver/test/e2e/releases.ts
  packages/driver/test/unit/e2e-releases.test.ts
  packages/driver/vite.config.ts
  packages/packer/src/pack.ts
  packages/web/test/e2e/error-dialog.spec.ts
  packages/web/test/e2e/fixtures/sentry-wasm.ts
  packages/web/test/e2e/start-game.spec.ts
  packages/web/vite.config.ts
  tools/e2e-releases.ts
  tools/pack-e2e-assets.ts
  tools/playwright.ts
  tools/upstream-sync/sync.ts
  tools/upstream-sync/sync_test.ts
Due: driver-tsc, web-tsc

docs: document the Deno-native workflow
  AGENTS.md
  README.md
  docs/rust-lua-vm-experiment-plan.md
  packages/web/README.md
Due: none

fix(driver): release physical keys when hidden
  packages/driver/src/js/driver.ts
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/test/e2e/driver.spec.mts
  packages/driver/test/unit/keyboard.test.ts
Due: driver-tsc

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
