Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

fix(driver): don't clear cache
  packages/driver/src/js/renderer/text.ts
Due: driver-tsc

feat: added cloudflare kv filesystem
  packages/driver/CMakeLists.txt
  packages/driver/src/c/wasmfs/nodefs.cpp
  packages/driver/src/c/wasmfs/nodefs.h
  packages/driver/src/c/wasmfs/nodefs_js.cpp
  packages/driver/src/js/driver.ts
  packages/driver/src/js/fs.ts
  packages/driver/src/js/logger.ts
  packages/driver/src/js/worker.ts
  packages/web/functions/api/kv/[[name]].ts
  packages/web/functions/api/kv/[name].ts
  packages/web/functions/api/kv/list.ts
  packages/web/src/PobWindow.tsx
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

fix(driver): find timeless jewel
  packages/driver/boot.lua
  packages/driver/src/js/logger.ts
Due: driver-tsc

chore: remove vendored pob
  .gitmodules
Due: none

ci: move files
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/build.yml
Due: none

chore(driver): use emscripten's zlib
  packages/driver/CMakeLists.txt
  packages/driver/index.html
Due: none

chore(web): footer
  packages/web/src/Footer.tsx
Due: web-tsc

feat(driver): subscript
  packages/driver/CMakeLists.txt
  packages/driver/boot.lua
  packages/driver/src/c/driver.c
  packages/driver/src/c/sub.c
  packages/driver/src/c/sub.h
  packages/driver/src/js/logger.ts
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

chore(driver): subscript
  packages/driver/src/c/sub.c
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

chore(driver): subscript
  packages/driver/CMakeLists.txt
  packages/driver/src/c/driver.c
  packages/driver/src/c/lcurl.c
  packages/driver/src/c/lcurl.h
  packages/driver/src/c/sub.c
  packages/driver/src/c/sub.h
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

chore(driver): subscript
  packages/driver/CMakeLists.txt
  packages/driver/src/c/driver.c
  packages/driver/src/c/lcurl.c
  packages/driver/src/js/run.ts
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
  packages/web/functions/api/fetch.ts
Due: driver-tsc, web-tsc

chore(driver): fix memory handling
  packages/driver/src/c/lcurl.c
  packages/driver/src/js/driver.ts
Due: driver-tsc

chore(driver): fix build sharing
  packages/driver/src/c/lcurl.c
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/sub.ts
  packages/web/functions/api/fetch.ts
Due: driver-tsc, web-tsc

chore(driver): fix content-type
  packages/driver/src/js/sub.ts
Due: driver-tsc

feat(driver): implement subscript and lcurl.safe (#57)
  packages/driver/CMakeLists.txt
  packages/driver/boot.lua
  packages/driver/index.html
  packages/driver/src/c/driver.c
  packages/driver/src/c/lcurl.c
  packages/driver/src/c/lcurl.h
  packages/driver/src/c/sub.c
  packages/driver/src/c/sub.h
  packages/driver/src/js/driver.ts
  packages/driver/src/js/logger.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/sub.ts
  packages/driver/src/js/worker.ts
  packages/web/functions/api/fetch.ts
  packages/web/src/Footer.tsx
Due: driver-tsc, web-tsc

chore(driver): remove unused
  packages/driver/src/js/nodefs.js
Due: driver-tsc

fix(driver): rasterize text longer than texture width
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
Due: driver-tsc

chore: specify node version
  .node-version
Due: none

deps(driver): update zenfs
  package-lock.json
  packages/driver/package.json
  packages/driver/src/js/worker.ts
Due: driver-tsc

deps(driver): update zenfs
  package-lock.json
  packages/driver/package.json
Due: none

deps(core): update zenfs (#64)
  package-lock.json
  packages/driver/package.json
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(driver): lcurl header handling
  packages/driver/src/c/lcurl.c
  packages/web/functions/api/fetch.ts
Due: web-tsc

fix(driver): fetch result length
  packages/driver/src/c/lcurl.c
  packages/driver/src/c/sub.c
  packages/driver/src/js/sub.ts
Due: driver-tsc

fix(driver): render always when window is visible
  packages/driver/src/js/driver.ts
  packages/driver/src/js/event.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(driver): disallow POESESSID cookie
  packages/driver/src/js/error.ts
  packages/driver/src/js/sub.ts
Due: driver-tsc

chore(web): no more missing features
  packages/web/src/Header.tsx
Due: web-tsc

feat(web): load build from hash
  packages/driver/CMakeLists.txt
  packages/driver/boot.lua
  packages/driver/src/c/driver.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/logger.ts
  packages/driver/src/js/worker.ts
  packages/web/src/PobWindow.tsx
Due: driver-tsc, web-tsc

chore(web): header
  package-lock.json
  packages/web/package.json
  packages/web/src/Header.tsx
Due: web-tsc

chore(web): header
  packages/web/src/Header.tsx
Due: web-tsc

chore(driver): set window title
  packages/driver/boot.lua
  packages/driver/src/c/driver.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
  packages/web/src/PobWindow.tsx
Due: driver-tsc, web-tsc

docs(web): help
  README.md
  package-lock.json
  package.json
  packages/web/src/Header.tsx
  packages/web/tailwind.config.js
Due: web-tsc

feat(web): fullscreen
  packages/web/src/Header.tsx
  packages/web/src/PobWindow.tsx
  packages/web/src/state.ts
Due: web-tsc

fix(web): Modal dialog adds a none existent scrollbar spacing to backdrop
  packages/web/src/index.css
Due: none

chore(web): cors fetch to pobb.in
  packages/web/src/PobWindow.tsx
Due: web-tsc

chore(driver): pixel ratio
  packages/driver/src/js/driver.ts
  packages/driver/src/js/logger.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/worker.ts
  packages/driver/tsconfig.json
Due: driver-tsc

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
