Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    driver-tsc:
      root: packages/driver
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    web-tsc:
      root: packages/web
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit

chore: Update versioning logic and enhance Vite configuration
  packages/driver/src/js/run.ts
  packages/driver/vite.config.ts
Due: driver-tsc

fix(packer): add directory entry
  packages/driver/src/c/wasmfs/nodefs_js.cpp
  packages/packer/src/pack.ts
Due: none

feat(driver): add dds texture support
  package-lock.json
  packages/driver/package.json
  packages/driver/src/js/image.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/vite.config.ts
  packages/packer/src/pack.ts
Due: driver-tsc

feat(driver): add dds texture support at packer
  package-lock.json
  package.json
  packages/dds/package.json
  packages/dds/src/dx10.ts
  packages/dds/src/index.ts
  packages/dds/tsconfig.json
  packages/driver/package.json
  packages/driver/src/js/image.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/packer/package.json
  packages/packer/src/pack.ts
  packages/packer/tsconfig.json
Due: driver-tsc

feat(driver): using webgl2
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

feat(driver): update TEXTURE_2D_ARRAY
  biome.json
  packages/dds/src/dx10.ts
  packages/dds/src/format.ts
  packages/dds/src/storage.ts
  packages/dds/tsconfig.json
  packages/driver/src/js/image.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/tsconfig.json
  packages/packer/src/pack.ts
  packages/web/tsconfig.json
Due: driver-tsc

fix(driver): blend function
  packages/driver/src/js/renderer/webgl.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

fix(driver): Add improvements for DDS texture handling and logging
  packages/dds/src/dx10.ts
  packages/dds/src/format.ts
  packages/dds/src/storage.ts
  packages/driver/src/js/image.ts
  packages/driver/src/js/logger.ts
  packages/driver/src/js/renderer/webgl.ts
Due: driver-tsc

feat(driver): Add stackLayer and maskLayer support for draw commands
  packages/dds/src/dx10.ts
  packages/driver/src/c/draw.c
  packages/driver/src/js/draw.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

chore(driver): Add support for L8_UNORM_PACK8 texture format
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

fix(driver): invalid texture target
  packages/driver/src/js/image.ts
Due: driver-tsc

fix(driver): correct alpha blending
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

chore(dds): imports
  package.json
  packages/dds/README.md
  packages/dds/src/dds.test.ts
  packages/dds/src/dds.ts
  packages/dds/src/index.ts
  packages/driver/README.md
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

ci: update
  .github/workflows/sync-upstream.yml
Due: none

chore(web): fix warning
  packages/web/functions/tsconfig.json
Due: none

style: update
  biome.json
Due: none

fix(packer): case insensitive
  packages/packer/src/pack.ts
Due: none

feat(web): Add multi-product support for PoE1 and PoE2 integration
  .github/workflows/sync-upstream.yml
  packages/web/src/App.tsx
  packages/web/src/Footer.tsx
  packages/web/src/PobWindow.tsx
  packages/web/vite.config.ts
  version.json
Due: web-tsc

chore(driver): Refactor zenfs API to remove `cred` parameter and update deps
  package-lock.json
  packages/driver/package.json
  packages/driver/src/c/wasmfs/nodefs_js.cpp
  packages/driver/src/js/fs.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

perf(driver): fix performance in zenfs
  package-lock.json
  packages/driver/package.json
  packages/driver/src/c/wasmfs/nodefs_js.cpp
Due: none

fix(driver): generate mipmaps for image
  packages/driver/src/js/image.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

style: biome format
  packages/driver/src/js/draw.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/sub.ts
  packages/web/functions/api/fetch.ts
  packages/web/functions/api/kv/[[name]].ts
  packages/web/src/Header.tsx
  packages/web/src/index.css
Due: driver-tsc, web-tsc

refactor(web): implement new routing structure and layout components
  package-lock.json
  packages/web/package.json
  packages/web/src/App.tsx
  packages/web/src/Footer.tsx
  packages/web/src/catchall.tsx
  packages/web/src/components/PobWindow.tsx
  packages/web/src/lib/logger.ts
  packages/web/src/root.tsx
  packages/web/src/routes.ts
  packages/web/src/routes/_index.tsx
  packages/web/src/routes/_layout.1.tsx
  packages/web/src/routes/_layout.tsx
  packages/web/src/routes/home.tsx
  packages/web/tsconfig.json
  packages/web/tsconfig.node.json
Due: web-tsc

style(web): update layout component and modify daisyui plugin configuration
  packages/web/src/app.css
  packages/web/src/routes/_layout.tsx
Due: web-tsc

fix(web): implement error boundary for route error handling
  packages/web/src/root.tsx
Due: web-tsc

feat(web): add PoBController and routing for Path of Exile versions
  package-lock.json
  packages/driver/src/js/worker.ts
  packages/web/package.json
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/entry.server.tsx
  packages/web/src/root.tsx
  packages/web/src/routes/_game.poe1.versions.$version.tsx
  packages/web/src/routes/_game.poe1.versions.head.tsx
  packages/web/src/routes/_game.poe2.versions.$version.tsx
  packages/web/src/routes/_game.poe2.versions.head.tsx
  packages/web/src/routes/_game.tsx
  packages/web/src/routes/_index.tsx
  packages/web/src/routes/_layout.1.tsx
  packages/web/src/routes/_layout.tsx
  packages/web/src/state.ts
Due: driver-tsc, web-tsc

style(web): enhance button styling in PoBController for better user interaction
  packages/web/src/components/PoBController.tsx
Due: web-tsc

feat(web): enhance PoBController to manage tutorial and drawer state
  packages/web/src/components/PoBController.tsx
Due: web-tsc

feat(web): add close button to Sidebar for improved user experience
  packages/web/src/components/PoBController.tsx
Due: web-tsc

feat(web): refactor routing for Path of Exile versions and update PoBController links
  packages/web/src/components/PoBController.tsx
  packages/web/src/routes/_game.poe1._index.tsx
  packages/web/src/routes/_game.poe1.versions.$version.tsx
  packages/web/src/routes/_game.poe2._index.tsx
  packages/web/src/routes/_game.poe2.versions.$version.tsx
  packages/web/src/routes/_index.tsx
Due: web-tsc

feat(web): enhance PerformanceView and LineChart for improved render time visualization
  packages/web/src/components/PoBController.tsx
Due: web-tsc

feat(web): integrate dayjs for date handling and update version data structure
  .github/workflows/sync-upstream.yml
  package-lock.json
  packages/web/package.json
  packages/web/public/hero-bg.webp
  packages/web/public/logo-poe1.webp
  packages/web/public/logo-poe2.webp
  packages/web/src/routes/_game.tsx
  packages/web/src/routes/_index.tsx
  version.json
Due: web-tsc

feat(web): update redirect logic for build hash handling in routes and PoBWindow
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/routes/_index.tsx
Due: web-tsc

feat(web): add user namespace support for Cloudflare KV integration
  packages/driver/src/js/driver.ts
  packages/driver/src/js/fs.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/web/functions/api/kv/[[name]].ts
  packages/web/src/components/PoBWindow.tsx
Due: driver-tsc, web-tsc

fix(web): update hero background image path and adjust deployment script for build output
  packages/web/package.json
  packages/web/src/routes/_index.tsx
  packages/web/wrangler.toml
Due: web-tsc

fix(web): enhance WebGL backend with improved texture handling and format support
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/webgl.ts
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

fix(packer): sync v1 path
  .mise.toml
  packages/packer/src/sync.ts
  version.json
Due: none

feat(driver): add support for building lua-utf8 module
  .gitmodules
  .mise.toml
  packages/driver/CMakeLists.txt
  packages/driver/src/c/wasmfs/nodefs.cpp
Due: none

feat(driver): add lua-utf8.wasm loading
  package-lock.json
  packages/driver/CMakeLists.txt
  packages/driver/package.json
  packages/driver/src/c/driver.c
  packages/driver/src/c/wasmfs/nodefs.cpp
  packages/driver/src/c/wasmfs/nodefs_js.cpp
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/driver/vite.config.ts
Due: driver-tsc
