Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

refactor: remove unnecessary comments across driver components
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/mouse-handler.ts
  packages/driver/src/js/overlay/overlay.css
Due: driver-tsc

refactor: remove non-essential comments from driver codebase
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/fs.ts
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/mouse-handler.ts
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/renderer/webgl_backend.ts
  packages/driver/src/js/renderer/webgpu_backend.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

docs: add architecture diagram and enhance technical documentation
  README.md
Due: none

chore: update @sentry/react and related dependencies to version 10.5.0
  package-lock.json
  packages/web/package.json
Due: none

feat(sentry): add console logging integration and enable logs
  packages/web/src/root.tsx
Due: web-tsc

refactor: remove unnecessary console log statements from various modules
  packages/dds/src/dds.ts
  packages/driver/src/js/image.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(worker): add error handling during frame processing in tick method
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(PoBWindow): update error handling to set error state instead of throwing
  packages/web/src/components/PoBWindow.tsx
Due: web-tsc

feat(ErrorDialog): implement error handling UI for critical errors
  package.json
  packages/driver/package.json
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/components/PoBWindow.tsx
Due: driver-tsc, web-tsc

fix(driver): increase stack size
  packages/driver/CMakeLists.txt
Due: none

fix(driver): optimize line width calculation using reduce to avoid stack overflow
  packages/driver/src/js/renderer/text.ts
Due: driver-tsc

fix(driver): update keyboard handling to use new PoBKeyboardState and DOMKeyboardState
  package-lock.json
  packages/driver/src/js/driver.ts
  packages/driver/src/js/event.ts
  packages/driver/src/js/keyboard-handler.ts
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/mouse-handler.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(driver): add placeholder LuaJIT options
  packages/driver/boot.lua
Due: none

fix(driver): add Fontin font loading
  packages/driver/public/Fontin-Italic.woff
  packages/driver/public/Fontin-Regular.woff
  packages/driver/public/Fontin-SmallCaps.woff
  packages/driver/src/c/draw.c
  packages/driver/src/js/renderer/text.ts
Due: driver-tsc

fix(driver): bump version to 0.27.2 in package-lock.json
  package-lock.json
Due: none

fix(web): add missing Fontin font files
  packages/web/public/Fontin-Italic.woff
  packages/web/public/Fontin-Regular.woff
  packages/web/public/Fontin-SmallCaps.woff
Due: none

chore: bump versions for driver and web to 0.27.4
  hk.pkl
  package-lock.json
Due: none

fix(driver): add double-click support to keyboard event handling
  packages/driver/src/js/driver.ts
  packages/driver/src/js/keyboard.ts
Due: driver-tsc

fix(driver): add support for new lcurl options for SSL and redirects
  packages/driver/src/c/lcurl.c
Due: none

fix(driver): add GetDrawColor to fix crash in PoB v0.13.0
  packages/driver/src/c/draw.c
Due: none

Skip Lua/WASM onFrame() when idle (dirtyCount <= 0)
  packages/driver/src/js/worker.ts
Due: driver-tsc

Stop rAF loop when idle instead of spinning at 60fps
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(driver): make loadBuildFromCode deterministic on running instances
  packages/driver/boot.lua
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix: 🐛 Cap WebGL gl.MAX_TEXTURE_IMAGE_UNITS to 100
  packages/driver/src/js/renderer/webgl_backend.ts
Due: driver-tsc

feat(driver): add getBuildCode() to extract current build as shareable code
  packages/driver/boot.lua
  packages/driver/src/c/driver.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

test(driver): add runtime behavior coverage
  .agents/skills/canvas-visual-verification/SKILL.md
  .gitignore
  AGENTS.md
  README.md
  mise.lock
  mise.toml
  package-lock.json
  package.json
  packages/driver/index.html
  packages/driver/package.json
  packages/driver/playwright.config.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/test/e2e/driver.spec.ts
  packages/driver/test/unit/canvas-manager.test.ts
  packages/driver/test/unit/draw.test.ts
  packages/driver/test/unit/keyboard.test.ts
  packages/driver/tsconfig.json
  packages/driver/vite.config.ts
Due: driver-tsc

chore(dev): modernize agent workflow
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .github/workflows/check.yml
  AGENTS.md
  README.md
  mise.toml
  packages/web/vite.config.ts
Due: web-tsc

chore(deps): update security fixes
  package-lock.json
  package.json
  packages/web/package.json
Due: none

test(web): cover critical driver integration
  AGENTS.md
  README.md
  mise.toml
  packages/web/package.json
  packages/web/playwright.config.ts
  packages/web/test/e2e/start-game.spec.ts
  packages/web/vite.config.ts
Due: web-tsc

chore(dev): add Codex canvas visual verification
  .agents/skills/canvas-visual-verification/SKILL.md
  .codex/config.toml
  .github/workflows/build.yml
  .mise.toml
  README.md
  mise.lock
  packages/driver/vite.config.ts
Due: driver-tsc

chore
  AGENTS.md
  mise.toml
Due: none

fix(driver): load PoE items with LuaJIT semantics
  .agents/skills/canvas-visual-verification/SKILL.md
  README.md
  mise.toml
  packages/driver/package.json
  packages/driver/playwright.config.ts
  packages/driver/src/js/image.ts
  packages/driver/test/e2e/driver.spec.ts
  packages/driver/test/e2e/releases.ts
  packages/driver/vite.config.ts
Due: driver-tsc

fix(ci): quote version file path
  .github/workflows/sync-upstream.yml
Due: none

fix(ci): build driver before static checks
  mise.toml
Due: none

build(driver): update Emscripten to 6.0.6
  mise.lock
  mise.toml
  packages/driver/CMakeLists.txt
  packages/driver/package.json
Due: none

test(driver): require stable item loading
  packages/driver/test/e2e/driver.spec.ts
Due: driver-tsc

docs: document async runtime investigation and migration
  README.md
  docs/async-runtime-migration.md
  docs/asyncify-firefox-investigation.md
Due: none

perf(driver): optimize Emscripten runtime build
  README.md
  docs/async-runtime-migration.md
  mise.toml
  packages/driver/CMakeLists.txt
  packages/driver/package.json
  packages/driver/playwright.performance.config.ts
  packages/driver/src/c/driver.c
  packages/driver/src/js/broker.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/test/performance/driver.spec.ts
Due: driver-tsc

test(driver): cover build import and export runtime
  packages/driver/src/js/run.ts
  packages/driver/src/js/vite-env.d.ts
  packages/driver/test/e2e/driver.spec.ts
Due: driver-tsc

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
