Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    driver-tsc:
      root: packages/driver
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    web-tsc:
      root: packages/web
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit

style(driver): improve virtual keyboard layout and styling
  packages/driver/src/js/overlay/KeyButton.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/virtual-ui.ts
Due: driver-tsc

fix(driver): update DaisyUI classes to use pw: prefix for proper scoping
  package-lock.json
  package.json
  packages/driver/src/js/overlay/ControlButton.tsx
  packages/driver/src/js/overlay/FullscreenButton.tsx
  packages/driver/src/js/overlay/KeyButton.tsx
  packages/driver/src/js/overlay/ResponsiveToolbar.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/overlay/ZoomControl.tsx
Due: driver-tsc

refactor(driver): separate event handling into dedicated handlers
  packages/driver/src/js/driver.ts
  packages/driver/src/js/event.ts
  packages/driver/src/js/keyboard-handler.ts
  packages/driver/src/js/mouse-handler.ts
  packages/driver/src/js/overlay/KeyButton.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/overlay/index.ts
  packages/driver/src/js/overlay/types.ts
  packages/driver/src/js/worker.ts
Due: driver-tsc

fix(hooks): update stash method to use 'patch-file' for pre-commit and fix hooks
  hk.pkl
Due: none

refactor(driver): consolidate toolbar components and extract fullscreen hook
  packages/driver/src/js/overlay/ControlButton.tsx
  packages/driver/src/js/overlay/FullscreenButton.tsx
  packages/driver/src/js/overlay/KeyButton.tsx
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/driver/src/js/overlay/ToolbarButton.tsx
  packages/driver/src/js/overlay/index.ts
  packages/driver/src/js/overlay/useFullscreen.ts
Due: driver-tsc

fix(driver): resolve coordinate transformation issues with CSS transforms
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/event.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/touch.ts
Due: driver-tsc

feat(driver): add auto/fixed size toggle for canvas controls
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/driver/src/js/overlay/ZoomControl.tsx
  packages/driver/src/js/overlay/types.ts
Due: driver-tsc

refactor(driver): add external component injection system for toolbar
  packages/driver/src/js/driver.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SidebarToggleButton.tsx
Due: driver-tsc, web-tsc

refactor(web): replace React Router Link with anchor in HomeButton
  packages/web/src/components/HomeButton.tsx
  packages/web/src/components/MenuButton.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
Due: web-tsc

fix(driver): constrain virtual keyboard position within viewport on resize
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
Due: driver-tsc

refactor(web): integrate Auth0 login functionality into driver toolbar
  packages/web/src/components/AuthButton.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
Due: web-tsc

refactor(web): remove fullscreen functionality from web package
  packages/web/src/components/PoBController.tsx
Due: web-tsc

fix(web): prevent multiple driver start executions in PoBWindow
  packages/web/src/components/PoBWindow.tsx
Due: web-tsc

refactor(driver): migrate performance overlay from web to driver package
  packages/driver/src/js/driver.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/PerformanceOverlay.tsx
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/driver/src/js/overlay/index.ts
  packages/driver/src/js/overlay/types.ts
  packages/driver/src/js/run.ts
  packages/web/src/components/PoBController.tsx
Due: driver-tsc, web-tsc

refactor: consolidate navigation and auth into settings dialog
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/SettingsDialog.tsx
Due: web-tsc

fix(driver): remove automatic pan mode based on canvas size
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
Due: driver-tsc

feat(driver): add flexible spacing for external toolbar components
  packages/driver/src/js/overlay/Toolbar.tsx
Due: driver-tsc

feat(driver): add arrow keys to virtual keyboard
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
Due: driver-tsc

fix(driver): correct virtual keyboard special key handling
  packages/driver/src/js/driver.ts
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/overlay/KeyButton.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/overlay/types.ts
Due: driver-tsc

refactor: migrate settings to daisyUI dialog and move performance toggle
  packages/driver/src/js/driver.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SettingsButton.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/components/SettingsPopup.tsx
Due: driver-tsc, web-tsc

refactor(web): replace sidebar drawer with settings popup in toolbar
  packages/web/src/components/MenuButton.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/SettingsButton.tsx
  packages/web/src/components/SettingsPopup.tsx
Due: web-tsc

fix(canvas): implement smart initial zoom for mobile screens
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/overlay/Toolbar.tsx
Due: driver-tsc

fix(driver): improve mouse state tracking for all events
  packages/driver/src/js/driver.ts
  packages/driver/src/js/mouse-handler.ts
Due: driver-tsc

fix(mobile): resolve iOS Safari toolbar overlap issues
  packages/driver/src/js/driver.ts
  packages/driver/src/js/overlay/KeyButton.tsx
  packages/driver/src/js/overlay/PerformanceOverlay.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/SettingsDialog.tsx
  packages/web/src/root.tsx
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

fix(mobile): reduce two-finger scroll sensitivity and add PWA manifest
  packages/driver/src/js/mouse-handler.ts
  packages/web/public/manifest.json
  packages/web/src/root.tsx
Due: driver-tsc, web-tsc

fix(web): remove tutorial setting from settings dialog
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/SettingsDialog.tsx
Due: web-tsc

fix(biome): update fix command to use --write option for file modifications
  hk.pkl
Due: none

fix(driver): reorder toolbar buttons for better UX
  packages/driver/src/js/overlay/Toolbar.tsx
Due: driver-tsc

feat(touch): add three-finger pan gesture for universal canvas navigation
  packages/driver/src/js/mouse-handler.ts
Due: driver-tsc

fix(driver): recalculate initial scale on orientation change
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
Due: driver-tsc

feat(web): add comprehensive help system with mobile controls guide
  packages/web/src/components/HelpButton.tsx
  packages/web/src/components/HelpDialog.tsx
  packages/web/src/components/PoBController.tsx
Due: web-tsc

fix(driver): prevent mouse movement during 2-finger zoom gestures
  packages/driver/src/js/mouse-handler.ts
  packages/driver/src/js/overlay/Toolbar.tsx
Due: driver-tsc

fix(keyboard): refine keypress handling for single character keys
  packages/driver/src/js/keyboard.ts
Due: driver-tsc

fix(touch): improve gesture handling for consistent zoom and pan behavior
  packages/driver/src/js/mouse-handler.ts
Due: driver-tsc

feat(overlay): improve virtual keyboard positioning and zoom reset behavior
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
Due: driver-tsc

fix(overlay): prevent virtual keyboard position reset on toggle
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
Due: driver-tsc

fix(driver): adjust baseline positioning for improved keyboard centering
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
Due: driver-tsc

refactor: remove unnecessary comments from mobile branch
  packages/driver/src/js/canvas-manager.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/event.ts
  packages/driver/src/js/keyboard-handler.ts
  packages/driver/src/js/keyboard.ts
  packages/driver/src/js/overlay/OverlayContainer.tsx
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/driver/src/js/overlay/ZoomControl.tsx
  packages/web/src/components/HelpDialog.tsx
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/components/SettingsDialog.tsx
Due: driver-tsc, web-tsc

fix(ui): adjust padding for virtual keyboard and add dark theme to hero section
  packages/driver/src/js/overlay/VirtualKeyboard.tsx
  packages/web/src/routes/_index.tsx
Due: driver-tsc, web-tsc

fix(driver): prevent zoom interference during 3-finger pan gestures
  packages/driver/src/js/mouse-handler.ts
Due: driver-tsc
