Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

fix(driver): import to new build
  packages/driver/boot.lua
Due: none

build: fix
  packages/web/tsconfig.json
Due: none

fix(driver): text color and measure cursor index
  packages/driver/src/js/renderer/renderer.ts
  packages/driver/src/js/renderer/text.ts
Due: driver-tsc

chore(web): no padding
  packages/web/src/App.tsx
Due: web-tsc

chore(web): mobile layout
  packages/web/src/App.tsx
Due: web-tsc

chore(web): remove testing badge
  packages/web/src/Header.tsx
Due: web-tsc

fix(web): mobile viewport
  packages/web/index.html
Due: none

fix(web): double pob window
  packages/web/src/App.tsx
Due: web-tsc

chore(web): vite
  packages/web/vite.config.ts
Due: web-tsc

feat(web): added version: 20240722-75b4e82
  packages/packer/src/pack.ts
  packages/packer/src/sync.ts
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
  packages/web/src/PobWindow.tsx
Due: web-tsc

ci: fix build error
  .github/workflows/build.yml
Due: none

feat(web): added version: v2.43.0
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
Due: web-tsc

feat(web): added version: v2.44.0
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
Due: web-tsc

feat(web): added version: v2.46.0
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
Due: web-tsc

feat(web): added version: v2.47.3
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
Due: web-tsc

lua submodule instructions
  README.md
Due: none

typos
  README.md
Due: none

Lua submodule, clone instructions. (#78)
  README.md
Due: none

Updated ZenFS
  package-lock.json
  packages/driver/package.json
Due: none

Removed credentials Remove usage of removed `FileType`
  packages/driver/src/js/fs.ts
Due: driver-tsc

feat(web): added version: v2.49.0
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
Due: web-tsc

feat(web): added version.json
  packages/web/public/version.json
  packages/web/src/App.tsx
  packages/web/src/Header.tsx
Due: web-tsc

ci(web): sync upstream
  .github/workflows/sync-upstream.yml
  version.json
Due: none

ci(web): sync upstream
  .github/workflows/sync-upstream.yml
Due: none

feat(web): automatic version sync with upstream
  packages/web/public/version.json
  packages/web/src/App.tsx
  packages/web/src/vite-env.d.ts
  packages/web/vite.config.ts
Due: web-tsc

ci: sync with tags
  .github/workflows/sync-upstream.yml
Due: none

ci: sync with tags
  version.json
Due: none

chore(packer): Add support for multiple product targets in build process
  packages/packer/src/pack.ts
  packages/packer/src/sync.ts
Due: none

chore: Update dependencies to latest versions
  package-lock.json
  package.json
Due: none

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
