Repository atty303/pob-web: changes, and which lefthook commands are due for each by the changed paths.
All: driver-tsc, web-tsc

driver-tsc:
  run: npx tsc --noEmit

web-tsc:
  run: npx tsc --noEmit

perf(dev): prebundle web dependencies
  packages/web/vite.config.ts
Due: web-tsc

test(driver): wait for virtual copy input
  packages/driver/test/e2e/clipboard.spec.mts
Due: none

fix(driver): restore persistent build listings
  packages/driver/CMakeLists.txt
  packages/driver/deno.json
  packages/driver/src/c/fs.c
  packages/driver/src/c/fs_entry.c
  packages/driver/src/c/fs_entry.h
  packages/driver/src/c/wasmfs/nodefs.cpp
  packages/driver/src/js/broker.ts
  packages/driver/src/js/filesystem-handler.ts
  packages/driver/test/c/fs_integration_test.c
  packages/driver/test/unit/fs-integration.test.ts
  packages/driver/test/unit/fs-integration.worker.ts
Due: driver-tsc

refactor(driver): rely on WasmFS directory types
  packages/driver/CMakeLists.txt
  packages/driver/src/c/fs.c
  packages/driver/src/c/fs_entry.c
  packages/driver/src/c/fs_entry.h
  packages/driver/test/c/fs_integration_test.c
Due: none

fix(driver): preserve Cloudflare KV file state
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

test(driver): cover ZenFS backend integrations
  mise.toml
  packages/driver/deno.json
  packages/driver/playwright.zenfs.config.mts
  packages/driver/test/integration/cloudflare-kv.test.ts
  packages/driver/test/integration/fixtures/zenfs.html
  packages/driver/test/integration/fixtures/zenfs.ts
  packages/driver/test/integration/zenfs-browser.spec.mts
  tools/tasks/main.ts
Due: driver-tsc

fix(driver): preserve cloud directory metadata
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

fix(driver): keep cloud builds writable
  packages/driver/src/js/filesystem-handler.ts
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
  packages/driver/test/unit/filesystem-handler.test.ts
Due: driver-tsc

fix(driver): restore cloud entries after reload
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

fix(driver): invalidate stale Vite dependencies
  packages/driver/src/js/broker.ts
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/fixtures/zenfs.ts
  packages/driver/test/integration/zenfs-browser.spec.mts
  packages/driver/vite.config.ts
  packages/web/vite.config.ts
Due: driver-tsc, web-tsc

fix(driver): await cloud build writes
  packages/driver/boot.lua
  packages/driver/src/js/broker.ts
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

chore(driver): upgrade ZenFS
  deno.json
  deno.lock
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

fix(driver): recover stale cloud file sizes
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

ci: install browsers for ZenFS tests
  mise.toml
Due: none

fix(web): list all legacy cloud builds
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/test/integration/cloudflare-kv.test.ts
  packages/web/test/unit/kv.test.ts
Due: driver-tsc, web-tsc

fix(driver): ignore corrupt legacy cloud files
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

fix(web): paginate cloud build listings
  packages/web/functions/api/kv/[[name]].ts
Due: web-tsc

fix(driver): distinguish legacy cloud paths
  packages/driver/src/js/error.ts
  packages/driver/src/js/fs.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
  packages/driver/test/unit/error.test.ts
Due: driver-tsc

fix(driver): hide zero-byte cloud builds
  packages/driver/src/js/fs.ts
  packages/driver/test/integration/cloudflare-kv.test.ts
Due: driver-tsc

fix(driver): truncate OPFS files on shorter writes
  packages/driver/src/js/broker.ts
  packages/driver/src/js/settings.ts
  packages/driver/src/js/web-access.ts
  packages/driver/test/integration/fixtures/zenfs.ts
  packages/driver/test/integration/zenfs-browser.spec.mts
Due: driver-tsc

fix(driver): classify browser environment failures
  packages/driver/src/js/error.ts
  packages/driver/test/unit/error.test.ts
  packages/driver/test/unit/text.test.ts
  packages/web/test/unit/error-report.test.ts
Due: driver-tsc, web-tsc

fix(driver): handle unsupported browser capabilities
  packages/driver/src/js/capability.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/fullscreen.ts
  packages/driver/src/js/overlay/Toolbar.tsx
  packages/driver/src/js/overlay/useFullscreen.ts
  packages/driver/test/unit/driver-capability.test.ts
  packages/driver/test/unit/fullscreen.test.ts
Due: driver-tsc

fix(web): import current POBb.in build links
  packages/web/src/components/PoBController.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/pobb.ts
  packages/web/src/routes/_index.tsx
  packages/web/test/e2e/build-import.spec.mts
  packages/web/test/unit/pobb.test.ts
Due: web-tsc

fix(web): render game routes without hydration
  packages/web/src/entry.client.tsx
Due: web-tsc

fix(web): render non-root routes on the client
  packages/web/src/entry.client.tsx
Due: web-tsc

fix(ci): retry transient Sentry uploads
  tools/sentry-upload/main.ts
  tools/sentry-upload/main_test.ts
Due: none

fix(driver): defer overlay cleanup during React render
  packages/driver/src/js/overlay/OverlayContainer.tsx
Due: driver-tsc

docs(agent): strengthen Canvas investigation
  .agents/skills/investigate-canvas-ui/SKILL.md
  AGENTS.md
Due: none

test(web): verify imported build state
  packages/web/src/components/PoBController.tsx
  packages/web/src/vite-env.d.ts
  packages/web/test/e2e/build-import.spec.mts
  packages/web/test/e2e/build-model.mts
  packages/web/test/e2e/start-game.spec.mts
Due: web-tsc

fix(web): import POBb links in Firefox
  packages/driver/test/unit/rpc.test.ts
  packages/web/playwright.config.mts
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/poe-oauth.ts
  packages/web/test/e2e/build-import.spec.mts
  packages/web/test/e2e/fixtures/pobb-poe2-v0.5.txt
  packages/web/test/unit/poe-oauth.test.ts
Due: driver-tsc, web-tsc

fix(driver): recover Last Epoch settings
  packages/driver/src/js/broker.ts
  packages/driver/src/js/driver.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/settings.ts
  packages/driver/test/integration/fixtures/zenfs.ts
  packages/driver/test/integration/zenfs-browser.spec.mts
  packages/game/src/index.ts
  packages/web/src/components/PoBWindow.tsx
  packages/web/test/e2e/fixtures/sentry-wasm.ts
Due: driver-tsc, web-tsc

fix(driver): handle missing keyboard event keys
  packages/driver/src/js/keyboard.ts
  packages/driver/test/unit/keyboard.test.ts
Due: driver-tsc

feat(web): improve Sentry diagnostics
  deno.json
  deno.lock
  mise.toml
  packages/driver/src/js/driver.ts
  packages/driver/src/js/promise-owner.ts
  packages/driver/src/js/run.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/promise-owner.test.ts
  packages/web/playwright.config.mts
  packages/web/sentry.config.ts
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/components/PoBWindow.tsx
  packages/web/src/lib/auth.ts
  packages/web/src/lib/runtime-diagnostics-dev.ts
  packages/web/src/lib/runtime-diagnostics-disabled.ts
  packages/web/src/lib/runtime-diagnostics.ts
  packages/web/src/lib/sentry-event.ts
  packages/web/src/lib/sentry.ts
  packages/web/src/root.tsx
  packages/web/test/e2e/fixtures/sentry-diagnostics.html
  packages/web/test/e2e/fixtures/sentry-diagnostics.ts
  packages/web/test/e2e/sentry-diagnostics.spec.mts
  packages/web/test/unit/runtime-diagnostics.test.ts
  packages/web/test/unit/sentry.test.ts
  packages/web/vite.config.ts
  tools/tasks/main.ts
Due: driver-tsc, web-tsc

fix(web): follow Sentry default data handling
  packages/web/src/lib/sentry-event.ts
  packages/web/src/lib/sentry.ts
  packages/web/test/e2e/fixtures/sentry-diagnostics.ts
  packages/web/test/e2e/sentry-diagnostics.spec.mts
  packages/web/test/unit/sentry.test.ts
  packages/web/vite.config.ts
Due: web-tsc

fix(driver): preserve background dispatch state
  packages/driver/src/js/promise-owner.ts
  packages/driver/test/unit/promise-owner.test.ts
Due: driver-tsc

fix(web): preserve worker error details
  packages/web/src/lib/runtime-diagnostics.ts
  packages/web/test/unit/runtime-diagnostics.test.ts
Due: web-tsc

fix(driver): align rasterized glyphs to framebuffer pixels
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/src/js/renderer/text.ts
  packages/driver/test/unit/glyph-placement.test.ts
Due: driver-tsc

fix(driver): share immutable image resources across handles
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/CMakeLists.txt
  packages/driver/src/c/image.c
  packages/driver/src/js/image.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/c/image_test.c
  packages/driver/test/unit/image.test.ts
Due: driver-tsc

perf(driver): overlap startup and restore Wasm streaming
  .agents/skills/sync-simplegraphic/references/browser-compatibility.md
  packages/driver/src/c/lcurl.c
  packages/driver/src/js/driver.ts
  packages/driver/src/js/renderer/text.ts
  packages/driver/src/js/sentry-wasm.ts
  packages/driver/src/js/startup-assets.ts
  packages/driver/src/js/worker.ts
  packages/driver/test/unit/sentry-wasm.test.ts
  packages/driver/test/unit/startup-assets.test.ts
Due: driver-tsc

Path conditions:
  driver-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/driver/
  web-tsc: any of: *.{js,ts,jsx,tsx} and ^packages/web/
